@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <div ng-controller="Logout">
        <ul class="nav navbar-nav navbar-right">
         <!--   <li>@Html.ActionLink("Register", "RegisterUser", "Registration", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>-->
            <li><a id="login" href="/Home/Login">{{ "PRIJAVA" | translate }}</a></li>
            <li><a id="registracija" href="/Registration/RegisterUser">{{ "REGISTRACIJA" | translate }}</a></li>
            <li><a id="logout" ng-click="logout()">{{ "ODJAVA" | translate }}</a></li>
        </ul>
    </div>
    
}

<script>
    var tipKorisnika = sessionStorage.getItem("tipKorisnika");
    if (tipKorisnika == "admin") {
        document.getElementById('login').style.visibility = 'hidden';
        document.getElementById('registracija').style.visibility = 'hidden';
        document.getElementById('logout').style.visibility = 'visible';
    }
    else if (tipKorisnika == "User") {
        document.getElementById('login').style.visibility = 'hidden';
        document.getElementById('registracija').style.visibility = 'hidden';
        document.getElementById('logout').style.visibility = 'visible';
    }
    else {
        document.getElementById('login').style.visibility = 'visible';
        document.getElementById('registracija').style.visibility = 'visible';
        document.getElementById('logout').style.visibility = 'hidden';

    }
</script>