@model TextIT.Models.Korisnik

@{
    ViewBag.Title = "TextIT";
}


@if (Session["LogedUserFullname"] != null)
{
    <h3>
        Dobro dosla na TexIT @Session["LogedUserFullname"].ToString()!
    </h3>
}


<div id="content">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script >
    var id = @Session["ID"]
    $(function () {
        $("#Profil").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/KorisnikView/Profil",
                method: "GET",
                data: { id : id },
                dataType: "html"
            });
            request.success(function (response) {
               
                $("#content").html(response);
            });
        });
        $("#KorisnikIndeks").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/KorisnikView/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Tekst").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/TekstView/Index",
                method: "GET",
                dataType: "html",
                async: true
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Grupa").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/GrupaView/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Pocetna").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/HomeView/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });

    });

</script>