@{
    ViewBag.Title = "TextIT";
}

<div style="background-color:black">
    <div ng-controller="Tekst" data-ng-init="getTekstovi()" style="background-color:black">
        <br />
        <div title="Tekstovi">
            <br />
            <p style="align-content:center; font-style:oblique; text-decoration:dashed; font-weight:900; font-size:25px; color:orangered">{{ "DOBRODOSLI" | translate }}</p>
            <hr />
            <div ng-repeat="tekst in tekstovi | startFrom: (currentPage - 1) * pageSize| limitTo: pageSize" class="jumbotron">
                <input ng-model="tekst.tekstID" style="visibility:hidden" />
                <div style="text-align: right; font-size: 12px; color: black; font-style:italic">Objavio/la: {{tekst.korisnikID}}</div>
                <table class="table" style="width:1020px; border-width:3px; border-collapse:collapse">
                    @*Izmjena*@
                    <tr>
                        <td>
                            <label style="font-size: 20px; color: orangered">{{tekst.naslov}}</label>
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <p style="font-size: 15px; color: black" ng-model="tekst">{{tekst.sadrzaj}}</p>
                        </td>
                    </tr>

                </table>
                <br />
                <div style="text-align:right; font-style:italic; font-size:20px">
                    
                    <button id="dodajKomentar" type="button" ng-click="createKomentar(tekst.tekstID)" class="btn btn-primary btn-large" ng-model="dodaj">Komentari</button>
                </div>

            </div>
            <div style="align-content: center; color: black">
                <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
                <pre>Trenutno ste na stranici: {{currentPage}}</pre>

            </div>


        </div>

    </div>
</div>

    <script>

        var tipKorisnika = sessionStorage.getItem("tipKorisnika");
        if (tipKorisnika == "admin") {
            document.getElementById('dodajKomentar').style.visibility = 'visible';
        }
        else if (tipKorisnika == "User") {
            document.getElementById('dodajKomentar').style.visibility = 'visible';
        }
        else {
            document.getElementById('dodajKomentar').style.visibility = 'hidden';
        }

    </script>
