@{
    ViewBag.Title = "TextIT";
}

<div ng-controller="Tekst" data-ng-init="getTekstovi()">
    <br />
    <div title="Tekstovi">
        <br />
        <p style="align-content:center; font-style:oblique; text-decoration:dashed; font-weight:900; font-size:25px; color:orangered">Dobrodošli u naš mali književni kutak. Osjećajte se slobodnim da ostavite svoja djela!</p>
        <hr />
        <div ng-repeat="tekst in tekstovi | startFrom: (currentPage - 1) * pageSize| limitTo: pageSize" class="jumbotron" style="background-color:whitesmoke; ">
            <input ng-model="tekst.tekstID" style="visibility:hidden" />
            <table class="table-bordered" style="width:1020px; border-width:3px; border-color:orangered; border-collapse:collapse">
              
                <tr>
                    <td>
                        <label style="font-size: 20px">{{tekst.naslov}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:15px" ng-model="tekst">{{tekst.sadrzaj}}</p>
                    </td>
                </tr>
               
            </table>
            <br />
            <div style="text-align:right; font-style:italic; font-size:20px">
                <div style="text-align:right; font-size:12px">Objavio/la: {{tekst.korisnikID}}</div>
                <button id="dodajKomentar" type="button" ng-click="createKomentar(tekst.tekstID)" class="btn btn-primary btn-large" ng-model="dodaj">Komentari</button>
                @*@Html.ActionLink("Komentari", "Create", "Komentar", new { id =  tekst.tekstID })*@
            </div>

        </div>
        <div style="align-content:center">
           @* <uib-pagination total-items="tekstovi.lenght" ng-model="currentPage" ng-disabled="false" items-per-page="pageSize"></uib-pagination>*@
            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
            <pre>Trenutno ste na stranici: {{currentPage}}</pre>
            
        </div>
        
       
    </div>
   
</div>

<script>

    var tipKorisnika = sessionStorage.getItem("tipKorisnika");
    if (tipKorisnika == "admin") {
        document.getElementById('dodajKomentar').style.visibility = 'visible';
    }
    else if (tipKorisnika == "User") {
        document.getElementById('dodajKomentar').style.visibility = 'visible';
    }
    else {
        document.getElementById('dodajKomentar').style.visibility = 'hidden';
    }

</script>