@{
    ViewBag.Title = "Home Page";
}

<div id="content">

</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var id = sessionStorage.getItem["ID"];
    $(function () {
        
        $("#home").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Home/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });

        $("#korisnici").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Korisnik/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#tekstovi").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Tekst/Index",
                method: "GET",
                dataType: "html",
                async: true
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
      
    });

</script>*@