@model IEnumerable<TextITMVC.Korisnik>

@{
    ViewBag.Title = "TextIT";
}


@if (Session["LogedUserFullname"] != null)
{
    <h3>
        Dobro dosla na TexIT @Session["LogedUserFullname"].ToString()!
    </h3>
}


<div id="content">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script >
    var id = @Session["ID"]
    $(function () {
        $("#Profil").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Korisnik/Profil",
                method: "GET",
                data: { id : id },
                dataType: "html"
            });
            request.success(function (response) {
               
                $("#content").html(response);
            });
        });
        $("#KorisnikIndeks").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Home/Korisnici",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Tekst").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Tekst/Index",
                method: "GET",
                dataType: "html",
                async: true
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Grupa").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Grupa/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Pocetna").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Home/Index",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });
        $("#Login").click(function () {
            var request = $.ajax({
                url: "http://localhost:36729/Home/Login",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });

    });

</script>