@{
    ViewBag.Title = "TextIT";
}

<div id="content">
    <h1></h1>
    

    <div class="section">

        <div class="container">

            <!-- /.row -->
              </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Ti bi da radiš, i da primaš platu!?</h2>
                    <p>Holandjanka: Ja bi caj, samo bez limuna ako moze?
Buba: Nemamo limuna, moze li caj bez necega drugog?</p>
                    <hr>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zanimljivosti</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://66.media.tumblr.com/5075be24e9b36f21479e632ee7242063/tumblr_n31r67bqKg1sdbftfo1_1280.jpg">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://www.blogger.ba/photos/333853.jpg">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://36.media.tumblr.com/85b6a219ab1ea3461115bae2ca2f09ff/tumblr_mmuf42gIwA1snfddro1_400.jpg">
                    </a>
                </div>
                
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored">
        <br />
        <h4 style="text-align:center">Četrdeset mi je godina ružno doba: čovjek je još mlad kako bi imao želja, a već star da ih ostvaruje. Šteta što nemam deset godina više pa bi me starost čuvala od pobuna ili deset godina manje pa bi mi bilo svejedno. Jer trideset godina je mladost, to sad mislim, kad sam se nepovratno udaljio od nje, mladost koja se ničega ne boji, pa ni sebe.</h4>

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Meša Selimović:</h2>
                    <ul>
                       
                        <li>Ono što nije zapisano, i ne postoji; bilo pa umrlo.</li>
                            <li>Ljudi se ustvari boje, zato su surovi.</li>
                            <li>Nijedan čovjek nije dovoljno pametan.</li>
                            <li>Osama i tišina prvi su preduvjet da se nešto stvori.</li>
                            
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <br />
                    <br />
                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/8a/21/43/8a21438cae7050af3bac07d7c1ba35c8.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        
        </div>
       
    </div>
    <!-- /.section -->

    
