@model ServisTextIT.Models.Korisnik

@{
    ViewBag.Title = "Edit";
}

<h2>Izmijeni</h2>

    
        <h4>Korisnik</h4>
        <hr />
    
        <div ng-controller="KorisnikEdit" data-ng-init="editKorisnik('@Model.korisnikID')">
            <table>
                <tr>
                    <td><label style="visibility:hidden">ID</label></td>
                    <td><input ng-model="korisnik.korisnikID" style="visibility:hidden" /></td>
                </tr>
                <tr>
                    <td><label>Ime</label></td>
                    <td><input placeholder="ime" ng-model="korisnik.ime" /></td>
                </tr>
                <tr>
                    <td><label>Prezime</label></td>
                    <td><input ng-model="korisnik.prezime"/></td>
                </tr>
                <tr>
                    <td><label>Korisničko ime</label></td>
                    <td><input ng-model="korisnik.korisnickoIme" /></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input ng-model="korisnik.email" /></td>
                </tr>
                <tr>
                    <td><label>Tip korisnika</label></td>
                    <td>
                        <select id="tipKorisnika"  style=" width:177px">
                           
                            <option id="tip1" value="" title="" ng-model="korisnik.tipKorisnika"></option>
                            <option id="tip2" value="" title="" ng-model="korisnik.tipKorisnika"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Potvrda</label></td>
                    <td><input ng-model="korisnik.potvrda" type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label style="visibility:hidden">Sifra</label></td>
                    <td><input ng-model="korisnik.sifra" style="visibility:hidden"/></td>
                </tr>
                <tr>
                    <td><label style="visibility:hidden">Banovan</label></td>
                    <td><input ng-model="korisnik.banovan" style="visibility:hidden" /></td>
                </tr>
                <tr>
                    <td><label style="visibility:hidden">Salt</label></td>
                    <td><input ng-model="korisnik.salt" style="visibility:hidden" /></td>
                </tr>
                    
            </table>
            <button type="button" ng-click="updateKorisnik('@Model.korisnikID')" class="btn btn-primary btn-large" ng-model="izmijeni">Izmijeni korisnika</button>

            


        </div>
 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>

    var tipKorisnika = sessionStorage.getItem("tipKorisnika");
    if (tipKorisnika == "admin") {
        document.getElementById('tipKorisnika').disabled = false;
        document.getElementById("tip1").text = 'Admin';
        document.getElementById("tip2").text = 'User';
    }
    else {
        document.getElementById('tipKorisnika').disabled = true;
        document.getElementById("tip1").text = 'User';
        document.getElementById("tip2").text = 'Admin';
    }


</script>