@model TextIT.Models.Korisnik

@{
    ViewBag.Title = "Korisnici";
}

<h2>Pregled svih korisnika aktivnih u sistemu</h2>


<textarea id="nesto">


</textarea>
<button onclick="Prikaz()">Prikazi</button>
<br />
<button id="NoviKorisnik">Dodaj novog korisnika</button>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function Prikaz() {
        var request = $.ajax({
            url: "http://localhost:50073/api/Korisnik",
            method: "GET",
            dataType: "json"
        });
        request.success(function (response) {
           
                $("#nesto").val(response[0].ime, response[1].ime);
               
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
    $(function () {
        $("#NoviKorisnik").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/KorisnikView/Dodaj",
                method: "GET",
                dataType: "html"
            });
            request.success(function (response) {

                $("#content").html(response);
            });
        });
    });
</script>
