@model IEnumerable<ServisTextIT.Models.Korisnik>

@{
    ViewBag.Title = "Index";
}

<h2>Korisnici</h2>
<div ng-controller='Korisnik'>
    <button type="button" ng-click="getKorisnik()" class="btn btn-primary btn-large">Lista korisnika</button>
    <table class="table">
        <tr ng-repeat="korisnik in korisnici">
            <td>
                {{korisnik.ime}}
            </td>
            <td>
                {{korisnik.prezime}}
            </td>
            <td>
                {{korisnik.korisnickoIme}}
            </td>
            <td>
                {{korisnik.email}}
            </td>
            <td>
                {{korisnik.tipKorisnika}}
            </td>
            <td>
                <button type="button" ng-click="deleteKorisnik(korisnik)" class="btn btn-primary btn-large" ng-model="korisnik.korisnikID">Banuj!</button>
            </td>
        </tr>
    </table>
</div>