@model IEnumerable<ServisTextIT.Models.Korisnik>

@{
    ViewBag.Title = "MojProfil";
}

<h2>Moj Profil</h2>
<br />
<div ng-controller="MojProfil" data-ng-init="mojProfil()">
    <table>
        <tr>
            <td><label style="visibility:hidden">ID</label></td>
            <td><input ng-model="korisnik.korisnikID" style="visibility:hidden" /></td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">salt</label></td>
            <td><input ng-model="korisnik.salt" style="visibility:hidden" /></td>
        </tr>
        
        <tr>
            <td><label>Ime</label></td>
            <td><input placeholder="ime" ng-model="korisnik.ime" /></td>
        </tr>
        <tr>
            <td ><label>Prezime</label></td>
            <td><input ng-model="korisnik.prezime" /></td>
        </tr>
        <tr>
            <td><label>Korisničko ime</label></td>
            <td><input ng-model="korisnik.korisnickoIme" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input ng-model="korisnik.email" /></td>
        </tr>
        <tr>
            <td><label>Tip korisnika</label></td>
            <td>
                <select id="tipKorisnika"style="width:177px"  ng-model="korisnik.tipKorisnika" ng-change="selektovaniKorisnik(korisnik)" ng-options="x for x in tipKorisnika"></select>
               
            </td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">Sifra</label></td>
            <td><input style="visibility:hidden" ng-model="korisnik.sifra" /></td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">Potvrda</label></td>
            <td><input ng-model="korisnik.potvrda" style="visibility:hidden" type="checkbox" /></td>
        </tr>

    </table>
    <button type="button" ng-click="updateKorisnikMojProfil(korisnik.id)" class="btn btn-primary btn-large" ng-model="izmijeni">Izmijeni svoje podatke</button>

</div>

<script>

    var tipKorisnika = sessionStorage.getItem("tipKorisnika");
    if (tipKorisnika == "admin") {
        document.getElementById('tipKorisnika').disabled = false;
        
    }
    else {
        document.getElementById('tipKorisnika').disabled = true;
        
    }


</script>