@model TextIT.Models.Korisnik

@{
    ViewBag.Title = "TextIT";
}

<h2>Dobro dosli na TextIT! </h2>

@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
}
