@model TextIT.Models.Tekst

@{
    ViewBag.Title = "Tekstovi";
}

<h2>Dodaj tekst</h2>
<br />
<button id="noviTekst" class="btn btn-default" >Dodaj novi tekst</button>
<script>
    var id = @Session["ID"]
    $("#noviTekst").click(function () {
        var request = $.ajax({
            url: "http://localhost:50073/TekstView/KreirajTekst",
            method: "GET",
            dataType: "html"
        });
        request.success(function (response) {
            $("#content").html(response);
        });
    });
</script>
