
@{
    ViewBag.Title = "Dijagram";
}

<h2>Statistika</h2>
<hr/>

<h4>Broj tekstova po korisniku</h4>
<div>
    <img src="@Url.Action("KorisnikBrojTekstova", "Tekst")" alt="cricketers" />
</div>

<h4>Broj tekstova, korisnika i komentara</h4>
<div>
    <img src="@Url.Action("PitaDijagram", "Tekst")" alt="cricketers" />
</div>