@model ServisTextIT.Models.Tekst

@{
    ViewBag.Title = "Edit";
}

<h2>Izmijeni</h2>


<h4>Tekst</h4>
<hr />

<div ng-controller="TekstEdit" data-ng-init="editTekst('@Model.tekstID')">
    <table>
        <tr>
            <td><label style="visibility:hidden">ID</label></td>
            <td><input ng-model="tekst.id" style="visibility:hidden" /></td>
        </tr>
        <tr>
            <td><label>Naslov</label></td>
            <td><input placeholder="naslov" ng-model="tekst.naslov" style="width:10000px" /></td>
        </tr>
        <tr>
            <td><label>Sadrzaj</label></td>
            <td><input ng-model="tekst.sadrzaj" style="width:10000px; height:200px" /></td>
        </tr>
        <tr>
            <td><label>Link</label></td>
            <td><input ng-model="tekst.link" style="width:10000px"/></td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">Like</label></td>
            <td><input ng-model="tekst.like" style="visibility:hidden"/></td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">Korisnik</label></td>
            <td><input ng-model="tekst.korisnikID" style="visibility:hidden" /></td>
        </tr>


    </table>
    <button type="button" ng-click="updateTekst('@Model.tekstID')" class="btn btn-primary btn-large" ng-model="izmijeni">Izmijeni</button>
</div>

