@model TextIT.Models.Grupa

@{
    ViewBag.Title = "Grupa";
}

<h2>Dodaj grupu</h2>
<button id="novaGrupa" class="btn btn-default" >Dodaj novu grupu</button>
<script>
    var id = @Session["ID"]
    $("#novaGrupa").click(function () {
        var request = $.ajax({
            url: "http://localhost:50073/GrupaView/Dodaj",
            method: "GET",
            data: {korisnikID: id},
            dataType: "html"
        });
        request.success(function (response) {

            $("#content").html(response);
        });
    });
</script>

